body {
    font-family: 'Nunito', sans-serif;
    color:#1a1a27;
    display: flex;
    flex-direction: column;
    max-width: 1560px;
    margin: 0 auto;
    font-size: 1rem;
}

/* Header */

.header-background {
    background-color: white;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    padding: .5rem;
    margin-left: 3rem;
    margin-right: 3rem;
    border-bottom: 2px solid black;
}

header h1 {
    text-align: left;
    font-size: 3rem;
}

nav a{
    padding: 1.6rem;
    color: #1a1a27;
    text-decoration: none;
}

nav a:hover {
    color: tomato;
}

/* Home */

#home {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 4rem 2rem;
}

#home h2 {
    font-family: 'Source Code Pro', monospace;
    font-size: 2rem;
    font-weight: 500;
    margin-left: 3rem;
}

#home h3 {
    font-family: 'Source Code Pro', monospace;
    font-size: 1.5rem;
    max-width: 50rem;
    font-weight: 400;
    margin-bottom: 4.5rem;
    margin-left: 3rem;
}

#home article {
    padding-right: 10rem;
}

#home img {
    display:flex;
}

/* Gallery */

.section-title {
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
    margin-left: 3rem;
    margin-right: 3rem;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

.gallery-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 2rem 0rem;
}

.gallery-container img {
    width: 100%;
}

.image-description {
    width: 100%;  
    font-family: 'Source Code Pro', monospace;
    font-size: 1.5rem;
    max-width: 50rem;  
}

.image-description h3 {
    font-family: 'Source Code Pro', monospace;
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 0rem;
}

.image-description h4 {
    font-family: 'Source Code Pro', monospace;
    font-size: 1.25rem;
    font-weight: 400;
    margin-top: .5rem;
    color: gray;
    text-transform: uppercase;
}

.image-container .image-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.image-container .image-description:hover {
    color: tomato;
}

/* About Us */

.about-us-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.about-us-container .image-description h3 {
    font-family: 'Source Code Pro', monospace;
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 0rem;
}

.about-us-container .image-description h4 {
    font-family: 'Source Code Pro', monospace;
    font-size: 1.25rem;
    font-weight: 400;
    margin-top: .5rem;
    margin-bottom: 3.625rem;
    color: gray;
    text-transform: uppercase;   
}

.about-us-container .image-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.about-us-image img {
    display: flex;
    margin: 5rem 5rem 0rem 5rem;
    height: 20rem;
}

.about-us-image {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.about-us-container h4 {
    font-family: 'Source Code Pro', monospace;
    font-size: 1.25rem;
    font-weight: 400;
    text-align: justify;
    text-justify: inter-word;
    display: flex;
    justify-content: end;
    align-items: center;
    margin: 5rem;
}

/* Contact Info & Footer */

footer {
    border-top: 2px solid black;    
    text-align: center;
}

footer h1 {
    font-size: 3rem;
    font-weight: 700;
}

.footer-row .footer-column {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    flex-shrink: 1;
}

footer .footer-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

footer h3 {
    font-size: 1.5rem;
    font-weight: 600;
    margin: .75rem 0;
}

footer h4 {
    font-size: 1.25rem;
    font-weight: 400;
    margin: 0rem;
    cursor: pointer;
}

.bottom-footer {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    margin-top: 2rem;
}

.bottom-footer p {
    margin: 0rem;
}

.combined-footer {
    margin-bottom: 1rem;
    font-family: 'Source Code Pro', monospace;
}

.footer-column h4:hover {
    color: tomato;
}